<div class="container" *ngIf="!isViewingOffer()">
    <div>
        <button (click)="addNew()">
            Add New Offer
        </button>
    </div>
    <div>
        Offers
        <div row mt-5>
            <div class="col-md-4 mb-3" *ngFor="let offer of offers">
                <div class="card text-center pointer" (click)="viewOffer(offer)">
                    <div class="card-body">
                        <h5 class="card-title">{{offer.title}}</h5>
                        <div class="card-text">Type- {{offer.type}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="isViewingOffer()">
    <div>
        <button (click)="back()">back</button>
    </div>
    <div class="card text-center" >
        <div class="card-body" *ngIf="currentOffer">
            <h5 class="card-title">{{currentOffer.title}}</h5>
            <div class="card-text">Type: {{currentOffer.type}}</div>
            <p class="card-text">Description: {{currentOffer.description}}</p>
            <div class="card-text">Call: <a class="card-link" [href]="'tel:' + currentOffer.phone">{{currentOffer.phone}}</a></div>
            <div class="card-text">Mail: <a class="card-link" [href]="'mailto:' + currentOffer.email">{{currentOffer.email}}</a></div>
            <div class="card-text">{{currentOffer.viewCount}} now watching</div>
        </div>
    </div>
</div>