<div class="container" *ngIf="!isViewingOffer()">
    <div class="pt-2 pb-2">
        <button class="btn btn-secondary" (click)="addNew()">
            Add New Offer
        </button>
        <div class="pt-2">
            <div class="input-group mr-6">
                <label for="#typeFilter" class="filter-label">Fillter By type</label>
                <select [(ngModel)]="selectedType" (change)="filterByType()" id="typeFilter">
                    <option *ngFor="let type of offerTypes" [ngValue]="type">
                      {{ type.value }}
                    </option>
                  </select>
              </div>
        </div>
        
    </div>
    <div>
        <h1>Offers</h1> 
        <div class="pagination">
            <a (click)="prev()" [class.disabled]="currentPage === 0" class="card-link pointer">previous page</a>
            <a class="card-link pointer" [class.disabled]="isNextDisabled()" (click)="next()">next page</a>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 mb-3" *ngFor="let offer of offers">
                <div class="card text-center pointer" (click)="viewOffer(offer)">
                    <div class="card-body">
                        <h5 class="card-title">{{offer.title}}</h5>
                        <div class="card-text">Type- {{offer.type}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="isViewingOffer()">
    <div class="add-new-offer">
        <button class="btn btn-secondary" (click)="back()">back</button>
        <button class="btn btn-danger right" (click)="delete()" *ngIf="isShowDelete()">Delete</button>
    </div>
    <div class="card text-center" >
        <div class="card-body" *ngIf="currentOffer">
            <h5 class="card-title">{{currentOffer.title}}</h5>
            <div class="card-text">Type: {{currentOffer.type}}</div>
            <p class="card-text">Description: {{currentOffer.description}}</p>
            <div class="card-text">Call: <a class="card-link" [href]="'tel:' + currentOffer.phone">{{currentOffer.phone}}</a></div>
            <div class="card-text">Mail: <a class="card-link" [href]="'mailto:' + currentOffer.email">{{currentOffer.email}}</a></div>
            <div class="card-text">{{currentOffer.viewCount}} now watching</div>
        </div>
    </div>
</div>